.img-group {
    display: flex;
    flex-direction: row;
}

.img-item {
    position: relative;
    min-width: 150px;
    max-width: 500px;
}

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
}