.img-group {
    padding: 10px;
    border: 2px solid #CCCCCC;
    width: 100%;
    margin: 0 auto;
    min-height: 470px;
    max-height: 700px;
    overflow-y: scroll;
    display: flex;
    flex-flow: column wrap;
    /* Shorthand – you could use ‘flex-direction: column’ and ‘flex-wrap: wrap’ instead */
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}

.img-item {
    position: relative;
    width: 16%;
    margin: 1%;
    transition: all 0.3s;
}

.img-item img {
    width: 100%;
    border-radius: 5%;
    transition: all 0.3s;
}

.btn-control {
    position: absolute;
    top: 3%;
    right: 0;
    padding-bottom: 20px;
}

.btn-control label {
    font-size: 12px;
    border: none;
    /* background-color: red; */
    padding: 0px 10px;
    border-radius: 15%;
}

.btn-control label:hover {
    background-color: #CCCCCC;
    cursor: pointer;
}

.btn-control label:hover~.btn-group {
    display: block;
}

.btn-group {
    position: absolute;
    display: none;
    font-size: 13px;
    opacity: 0.5;
}

.btn-group:hover {
    display: block;
}

.btn-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 232, 230);
    padding: 0 4px;
    border-radius: 5%;
}

.btn-item div {
    margin: 1px 0px;
    border: none;
    border-radius: 5%;
}

.btn-item div:hover {
    cursor: pointer;
}

.btn-item .btn-edited:hover {
    color: aqua;
}

.btn-item .btn-closer:hover {
    color: red;
}

.img-review {
    width: 100%;
    margin: 3%;
}

.img-review img {
    margin: 0 2%;
    border-radius: 5%;
}

.box-preview {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.preview-input {
    width: 100%;
    min-height: 150px;
    max-height: fit-content;
    background-color: lightgoldenrodyellow;
    ;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-sizing: border-box;
    overflow: hidden; */
    margin: 3%;
}

.preview-input:hover {
    cursor: pointer;
}

.preview-input img {
    border-radius: 5%;
}

.preview-input i {
    font-size: 30px;
    z-index: 10;
    color: lightcoral;
}

.line {
    width: 100%;
    font-size: larger;
}

.line i {
    width: 100%;
    font-size: 70px;
    color: lightsteelblue;
    text-align: center;
}